# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll

# Ignore package-lock.json file
package-lock.json

# Ignore environment-specific files
.env
.env.local
.env.development
.env.production

#ignore mac files
.DS_Store

# ignore the file in pycache
__pycache__/
```
